@import '../assets/icons/style.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.social{
  /* height: 200vh; */
  transform: translate(-250px, 0);
  width: 300px;
}

.social a:hover{
  transition: 1s;
  transition-property: transform;
}

.social a:hover{
  transform: translate(140px, 0);
}

.btn__hero{
  animation: signal 1s ease infinite;
}

.change-my-color {
  fill: green;
}

.primer-lugar {
  color: gold;
  font-size: 30px;
}

.segundo-lugar {
  color: silver;
  font-size: 30px;
}

.tercer-lugar {
  color: #CD7F32;
  font-size: 30px;
}